body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background:linear-gradient(to right, rgb(65, 65, 65), slategrey);
}

.search-container {
 /* TODO */
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
  justify-content: center;
  position: relative;
  align-self: center;
}

#fruit{
  position: relative;
  width: 300px;
  height: 40px;
  border: 0;
  border-radius: 12px;
  box-shadow: none;
}

.suggestions{
  width: 300px;
  max-height: 200px;
  overflow: scroll;
  overflow-x: hidden;
  position: absolute;
  top: 45px;
}

ul {
  justify-content: left;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.suggestions ul li{
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 1%;
}

ul li:hover {
  color: slateblue;
  background-color: darkgrey;
}

::-webkit-scrollbar{
  width: 1vw;
}

::-webkit-scrollbar-thumb{
  background-color: black;
  border-radius: 10px;
}

::-webkit-scrollbar-track:hover{
  background-color: #777;
}
